body {
  background-color: hsl(233, 47%, 7%);
}

div {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mark-word {
  color: hsl(277, 64%, 61%);
}

.card {
  display: inline-block;
  background-color: hsl(244, 38%, 16%);
  height: 500px;
  width: 1300px;
  border-radius: 1%;
}

.first-text {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 30pt;
  color: hsl(0, 0%, 100%);
  margin-left: 80px;
  margin-top: 80px;
}

.second-text {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.8;
}

.list {
  list-style: none;
}

.list li {
  float: left;
  margin-top: 80px;
  margin-left: 80px;
}

.first-item {
  font-family: 'Inter', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  padding-bottom: 10px;
}

.second-item {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.right-card {
  position: absolute;
  background-color:  hsl(277, 64%, 45%);
  width: 650px;
  height: 500px;
  margin-left: 650px;
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
}

.image {
  width: 650px;
  height: 500px;
  filter: opacity(60%);
}